{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="grid-column">
    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX ACTIONS -->
        <div class="widget-box-actions">
            <!-- WIDGET BOX ACTION -->
            <div class="widget-box-action">
                <!-- WIDGET BOX TITLE -->
                <p class="widget-box-title">Hospital Locations (Available data on net)</p>
                <!-- /WIDGET BOX TITLE -->
            </div>
            <!-- /WIDGET BOX ACTION -->
        </div>
        <!-- /WIDGET BOX ACTIONS -->

        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- FULL WIDTH IMAGE -->
            {{ map|safe }}
            <!-- /FULL WIDTH IMAGE -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->
</div>
<!-- /GRID COLUMN -->

{% endblock content %}